/*info page 1*/
/*
.info1Cont {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 86%;
    height: 86%;
    background-color: aqua;
}

#infoPic {
    position: relative;
    top: 1%;
    left: 1%;
    width: 30%;
    height: 50%;
    background-color: crimson;
    background-image: url(../img/cat1.jpg);
    background-size: 350px 300px;
    background-position: center;
    background-repeat: no-repeat;
}

#infoMain {
    position: relative;
    width: 67%;
    height: 98%;
    top: -51%;
    left: 32%;
    background-color: orange;
}

#infoSide {
    position: relative;
    bottom: 98%;
    left: 1%;
    width: 30%;
    height: 47%;
    background-color: chartreuse;
} */

@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto');


.mountains {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: auto;
}

.mountains {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: auto;
}

.treeLine {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: auto;
}

.moveClouds {
    position: fixed;
    bottom: 50%;
    left: 0;
    width: 200vw;
    height: auto;
    animation: cloudMovement 10s linear infinite;
}

@keyframes cloudMovement {
    100% {left: -105%}
}

.backClouds {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: auto;
}


/* Controls on top */


.homeBut {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: 3%;
}



.MControlsTop {
    position: fixed;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    width: 100vw;
    background-color: #578aa5;
    width: 100vw;
    transition: 0.3s;
}

.MControlsTop button {
    color: #444444;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 1em;
    border-style: none;
    background-color: #578aa5;
    font-family: 'Cabin', sans-serif;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}




/* Controls on top end */

/* Beginning Controls*/

.MControls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.MControls button {
    position: relative;
    top: 45vh;
    color: #444444;
    padding: 15px;
    font-size: 1.5em;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    border-style: none;
    background-color: #D1EFFF;
    font-family: 'Cabin', sans-serif;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.MControls button:hover {
    font-size: 1.6em;
    background-color: #e2f5ff;
    color: #595959;
}

/* Beginning Controls End*/

@media screen and (max-height: 720px) {
    .MControls {
    top: -47%;
    }
}


@media screen and (max-width: 450px) and (min-width: 200px) {
    
    
    .homeBut {
    width: 45px;
    height: 45px;
}
        
.MControls {
    top: 50%;
}
    
  
    .MControls button {
        
    position: relative;
    top: auto;
    padding: 10px;
    font-size: 1em;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 5px;
    border-style: none;
    font-family: 'Cabin', sans-serif;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    color:#455f6d;
}

.MControls button:hover {
    font-size: 1.1em;
    background-color: #e2f5ff;
    color:#455f6d;
}
    
    
    
    
    
    
    .MControlsTop {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 0.8em;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

.MControlsTop button {
    top: 0;
    right: 0;
    font-weight:bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 0%;
    margin-left: 0%;
    font-size: 1em;
    border-style: none;
    font-family: 'Cabin', sans-serif;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.MControlsTop button:hover {
    background-color: #e2f5ff;
    color:#455f6d;
}
    
    
    
    
    
    
    
    .moveClouds {
    position: relative;
    bottom: 50%;
    left: 0;
    width: 800vw;
    height: auto;
    animation: cloudMovement 18s linear infinite;
}

@keyframes cloudMovement {
    100% {left: -420%}
}
    
    
}




.aboutMeDiv {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0;
    background-color: #cee2ed;
    animation: fadeIn 0.5s forwards;
    overflow-x: hidden;
    color:#455f6d;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.richardPic{
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #455f6d;
    border-width: 15px;
    background-image: url(../img/richardPic.JPG);
    background-position: center;
}

.whoAmIFlex {
    position: relative;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    
}
.whoAmIFlex p{
    width: 40%;
}
@media screen and (max-width: 1000px) {
    .richardPic{
         margin-left: auto;
    margin-right: auto;
    }
    .whoAmIFlex {
        flex-direction: column;
    }
    .whoAmIFlex p{
    width: auto;
    padding-left: 15%;
    padding-right: 15%;
}
}


.whoAmI{
    background-color: #e0f1f9;
    margin-bottom: 0%;
    padding-top: 75px;
}
.whoAmI h1{
    font-family: "Cabin", sans-serif;
    padding-top: 30px;
}

.whoAmI h3{
    margin-top: -20px;
}


.whoAmI p{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    padding-left: 5%;
    padding-bottom: 30px;
    font-size: 1.2em;
    font-weight: 300;
}

.whatIDo {
    background-color: #cee2ed;
}

.whatIDo h1{
    font-family: "Cabin", sans-serif;
    padding-top: 30px;
}

.whatIDo h3{
    margin-top: -20px;
}

.whatIDo p{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 50px;
    font-size: 1.2em;
    font-weight: 300;
}

.whatIDo1 {
    width: 50%;
}
.whatIDo2 {
    width: 50%;
}

.whatIDoFlex{
    display: flex;
}


.whatIUse {
    background-color: #e0f1f9;
    margin-top: 0;
}

.whatIUse h1{
    font-family: "Cabin", sans-serif;
    padding-top: 30px;
}


.whatIUse h3{
    font-family: "Cabin", sans-serif;
    margin-top: -20px;
}

.whatIUse p{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10px;
    font-size: 1.2em;
    font-weight: 300;
}

.aboutMeIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    padding-bottom: 50px;
}
.aboutMeIcons i {
    
    font-size: 3em;
    padding: 5px;
}


@media screen and (max-width: 450px) and (min-width: 200px) {
    
    .aboutMeDiv {
    width: 100%;
    }
    
    
    .whatIDoFlex{
    display: flex;
    flex-direction: column;
    }
    
    .whatIDo1 {
    width: 100%;
    }
    .whatIDo2 {
    width: 100%;
    }
}


.webDevDiv {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #cee2ed;
    animation: fadeIn 0.5s forwards;
}

.workButs {
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
}

.workBut{
     color: #444444;
    padding: 10px;
    font-size: 1em;
    border-style: none;
    background-color: #D1EFFF;
    font-family: 'Cabin', sans-serif;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.workBut:hover{
    font-size: 1.1em;
    background-color: #e2f5ff;
    color: #595959;
}

.webDevelopment {
    position: absolute;
     width: 102%;
    height: auto;
    background-color: #cee2ed;
    color: #595959;
}

.graphicDesign {
     width: 100%;
    height: 200px;
    background-color:deeppink;
}

.projTitle {
    font-size: 5em;
}

.projectDiv {
    position: relative;
    width: 100%;
    height: auto;
    top: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #cee2ed;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
.projectDiv1 {
    position: relative;
    
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    top: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #cee2ed;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.displayImg {
    position: relative;
    width: 400px;
    height: 300px;
}

#berritonFin{
    background-image: url(../img/berritonImg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#forGloryFin{
    background-image: url(../img/forGloryImg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#astroAdventuresFin{
    background-image: url(../img/astroAdventuresImg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.aboutProj {
    width: 800px;
    height: auto;
}

.aboutProj h1{
    font-family: "cabin", sans-serif;
    font-size: 2.5em;
}

.aboutProj  h3 {
    font-family: "cabin", sans-serif;
    margin-top: -15px;
    margin-bottom: -15px;
}

.aboutProj p {
    font-family: "roboto", sans-serif;
}

.projBut{
    color: #444444;
    padding: 15px;
    font-size: 1.5em;
    border-style: none;
    background-color: #D1EFFF;
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.projBut:hover{
    font-size: 1.6em;
    background-color: #e2f5ff;
    color: #595959;
}




@media screen and (max-width: 450px) and (min-width: 200px) {
    
    .projectDiv {
    width: 100%;
    height: auto;
    flex-direction: column;
    
}
    
    .displayImg {
        margin-left: auto;
        margin-right: auto;
    width: 80%;
}
   
    
    .aboutProj {
    width: 90%;
    height: auto;
        padding-left: 5%;
        padding-right: 5%;
}
    
    
#berritonProg{
    margin-right: auto;
    margin-left: auto;
    }
}

/* PROJECT PAGES */

.projectPages {
    animation:fadeIn 0.5s forwards;
    background-color: #cee2ed;
    color: #444444;
    width: 100%;
}

.linkDiv{
    height: 300px;
    width: 100%;
}

.linkBut{
    position: relative;
    top: 120px;
}

    /* BERRITON PROJECT PAGE */

#berritonProg{
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #455f6d;
    border-width: 15px;
    background-image: url(../img/berritonProg.PNG);
    background-position: center;
}

/* FOR GLORY PROJECT PAGE */

#forGloryProg{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #455f6d;
    border-width: 15px;
    background-image: url(../img/forGloryProg.PNG);
    background-position: center;
}

#astroAdventuresProg{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #455f6d;
    border-width: 15px;
    background-image: url(../img/astroAdventuresImg.png);
    background-position: center;
}



/* contact me page */

.contactMePage {
    position: absolute;
    left: 0;
    top: 59px;
    width: 100vw;
    height: 100vh;
    background-color: #cee2ed;
    animation:fadeIn 0.5s forwards;
}

