
@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto:100,300,400');

body {
  background-color: #71CFFF;
    
}
.App {
  text-align: center;
}

.MainControls {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

.nameTag {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 20%;
    margin: auto;
    font-family: 'Cabin', sans-serif;
    opacity: 1;
    transition: 1s;
    color:#455f6d;
}

.nameTag h1{
    font-size: 3.5em;
}
.nameTag h3{
    font-size: 2.5em;
    font-style: normal;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-top: -30px;
}

@media screen and (max-width: 450px) and (min-width: 200px) {
    .nameTag h1{
    font-size: 2.5em;
}
.nameTag h3{
    font-size: 1.5em;
    font-style: normal;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    margin-top: -30px;
}
    
    
    .MainControls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}
}

.MScene {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #71CFFF;
    overflow: hidden;
}

